:root{
    --accent-color: #2196F3;
    --grey-background-color: #2F303A;
    --secondary-accent-color: #188CE8;
    --title-color: #212121;
    --light-background-color: #ffffff;
    --light-grey-background-color: #F5F4FA;
    --text-color: #757575;
    --transparent-white-color: rgba(255, 255, 255, 0.6);
    --dark-logo-black-color: #000000;
    --header-border-color: #ECECEC;
    --portfolio-card-border-color: #EEEEEE;
    --hero_background_color: #C4C4C4;
    --icon-background-color: #AFB1B8;

}

h1, 
h2, 
h3, 
p { 
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    cursor: pointer;
    border: none;
    font-family: inherit;
}

.link {
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color)
}
.section {
    padding: 94px 0px;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.social-item {
    width: 44px;
    height: 44px;
}
.social-icon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
/* ===========HEADER========= */

.header-container {
    display: flex;
    align-items: center;
}
.site-navigation {
    display: flex;
    align-items: center;
}
.header {
    background-color: var(--light-background-color);
    border-bottom: 1px solid var(--header-border-color);
}
.logo-header {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.logo-dark {
    color: var(--dark-logo-black-color);
}
.navigation-list,
.header-contact-list {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-contact-list {
    margin-left: auto;
}
.header-contact-list-icon {
    margin-right: 10px;
    fill: currentColor;
}
.header-contact-list-item {
    display: flex;
    align-items: center;
    
}
.navigation-list-item:not(:last-child),
.header-contact-list-item:not(:last-child) {
    margin-right: 50px;
}
.navigation-list {
    color: var(--title-color);
}
.navigation-list-link,
.header-contact-list-link {
    padding-top: 32px;
    padding-bottom: 32px;
}
.navigation-list-link {
    color: var(--title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact-list-link {
    display: flex;
    align-items: center;
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list-link.current,
.navigation-list-link:hover,
.navigation-list-link:focus,
.header-contact-list-link:hover,
.header-contact-list-link:focus {
    color: var(--accent-color);
}
.current {
    position: relative;
}
.current::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}


/*===========HERO==========*/

.hero {
    max-width: 1600px;
    background-color: var(--hero-background-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main_page/hero_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-title {
    width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-background-color);
}
.hero-button {
    min-width: 200px;
    padding: 10px 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.85;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--light-background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
    background-color: var(--secondary-accent-color);
}

/*===========ADVANTAGES SECTION=========*/

.advantages-list {
    display: flex;
    flex-wrap: wrap;
}
.advantages-item {
    flex-basis: calc((100% - 90px) / 4); 
}
.advantages-item:not(:last-child) {
    margin-right: 30px;
}
.advantages-list-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-grey-background-color);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
} 
.advantage-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}
.advantage-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*===========OUR WORK SECTION===========*/

.work{
   padding-top: 0px; 
}
.work-list{
    display: flex;
}
.work-list-item {
    position: relative;
    flex-basis: calc((100% - 60px) / 3);
}
.work-list-item:not(:last-child) {
    margin-right: 30px;
}
.work-title,
.our-team-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}
.work-list-item-title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-background-color);
    background-color: rgba(47, 48, 58, 0.8);
}

/*===============OUR TEAM============*/

.team-members-list {
    display: flex;
    flex-wrap: wrap;
}
.team-member-card:not(:nth-child(4n)) {
    margin-right: 30px;
}
.team-member-card:not(:nth-last-child(-n+4)) {
    margin-bottom: 30px;
}
.team-member-card-bottom {
    padding: 30px 0;
}
.our-team {
    background-color: var(--light-grey-background-color);
}
.team-member-card {
    flex-basis: calc((100% - 90px) / 4);
    background-color: var(--light-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-member,
.team-member-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;   
}
.team-member {
    margin-bottom: 10px;

    font-weight: 500;
    color: var(--title-color); 
}
.team-member-accounts-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}
.team-member-accounts-list-link {
    color: var(--icon-background-color);
    background-color: var(--light-background-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.team-member-accounts-list-icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-member-accounts-list-item:not(:last-child) {
    margin-right: 10px;
}
.team-member-accounts-list-link:hover .team-member-accounts-list-icon,
.team-member-accounts-list-link:focus .team-member-accounts-list-icon {
    fill: var(--light-background-color)
}
.team-member-accounts-list-link:hover,
.team-member-accounts-list-link:focus {
    background-color: var(--accent-color);
}

/*=================CLIENTS===============*/

.clients-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--title-color);
}
.clients-list {
    display: flex;

}
.clients-list-item {
    width: 170px;
    height: 92px;
}
.clients-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--icon-background-color);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    color: var(--icon-background-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list-item:not(:last-child) {
    margin-right: 30px;
}
.clients-list-icon {
    fill: currentColor;
}
.clients-list-link:hover,
.clients-list-link:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

/*==================FOOTER=============*/

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo-link {
    display: inline-block;
    margin-bottom: 20px;
}
.logo-light {
    color: var(--light-background-color);
}
.footer {
    background-color: var(--grey-background-color);
}
.contact-info {
    font-style: normal;
}
.footer-list-item:not(:last-child) {
    margin-bottom: 9px;
}
.contact-info-mail,
.contact-info-phone,
.contact-info-address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.contact-info-address {
    display: inline-block;
    color: var(--light-background-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-info-mail,
.contact-info-phone {
    color: var(--transparent-white-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-info-address:hover,
.contact-info-address:focus,
.contact-info-mail:hover,
.contact-info-mail:focus,
.contact-info-phone:hover,
.contact-info-phone:focus {
    color: var(--accent-color)
}
.footer-subscription-side-title {
    display: inline-block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--light-background-color);
}
.footer-social-links-list {
    display: flex;
}
.footer-social-links-link {
    background: rgba(255, 255, 255, 0.1);
    color: var(--light-background-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-links-item:not(:last-child) {
    margin-right: 10px;
}
.footer-social-links-icon {
    fill: currentColor;
}
.footer-social-links-link:hover,
.footer-social-links-link:focus {
    background-color: var(--accent-color);
}
.footer-wrap-left {
    display: flex;
    align-items: baseline;
}
.footer-address-side {
    margin-right: 70px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.subscription-form-input {
    padding-left: 16px;
    width: 358px;
    height: 50px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: var(--grey-background-color);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.subscription-form-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
.footer-subscription-btn {
    display: inline-flex;
    align-items: center;
    min-width: 166px;
    padding: 10px 29px;
    margin-left: 12px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--light-background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscription-btn-icon {
    margin-left: 10px;
    fill: currentColor;
}
.footer-subscription-btn:hover,
.footer-subscription-btn:focus {
    background-color: var(--secondary-accent-color);
}


/*=============BACKDROP===============*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.25);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;

    padding: 40px;
    background-color: var(--light-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 30px;
    height: 30px;
    background-color: var(--light-background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;  
}
.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
    fill: var(--accent-color);
}
.modal-close-icon {
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form {
    display: flex;
    flex-direction: column;
}
.modal-form-text {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--title-color);
}
.modal-form-field {
    margin-bottom: 10px;
}
.modal-form-field-name {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}
.modal-form-input {
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 12px;

    width: 100%;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
    border-color: var(--accent-color);
}
.modal-form-wrapper {
    position: relative;
    display: block;
}
.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: var(--title-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-icon {
    fill: var(--accent-color);
}
.modal-form-field-comment {
    margin-bottom: 20px;
}
.modal-form-comment {
    display: block;
    padding: 12px 16px;

    width: 100%;
    height: 120px;
    resize: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-comment::placeholder {
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);
}
.modal-form-comment:focus {
    border-color: var(--accent-color);
}
.modal-form-checkbox {
    position: absolute;
}
.modal-form-checkbox-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
}
.modal-form-checkbox-link {
    color: var(--accent-color);
}
.modal-form-checkbox-text::before {
    content: "";
    display: block;
    margin-right: 8.38px;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-color);
    border-radius: 2px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox:focus + .modal-form-checkbox-text::before {
    border-color: var(--accent-color);
}
.modal-form-checkbox:checked + .modal-form-checkbox-text::before {
    background-color: var(--accent-color);
    border-color: transparent;
    background-image: url("../images/check.svg");
    background-size: cover;
    background-origin: border-box;
    background-repeat: no-repeat;
    
}
.modal-form-button {
    min-width: 200px;
    padding: 10px 55px;
    align-self: center;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    
    color: var(--light-background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-button:hover,
.modal-form-button:focus {
    background-color: var(--secondary-accent-color);
}


/*=================PORTFOLIO===============*/

.portfolio-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio-filter-item:not(:last-child) {
    margin-right: 8px;
}
.portfolio-filter-button {
    border-radius: 4px;
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    background-color: var(--light-grey-background-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-filter-button:hover,
.portfolio-filter-button:focus {
    color: var(--light-background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projects {
    display: flex;
    flex-wrap: wrap;
}
.projects-item {
    flex-basis: calc((100% - 60px) / 3);
    background-color: var(--light-background-color);
}
.portfolio-card {
    text-decoration: none;
    color: inherit;
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover,
.portfolio-card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}
.projects-item:not(:nth-child(3n)) {
    margin-right: 30px;
}
.projects-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}
.portfolio-card-bottom {
    padding: 20px 24px;
    border: 1px solid var(--portfolio-card-border-color);
    border-top: none;
}
.projects-item-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}
.projects-item-class {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
.portfolio-item-img-wrapper {
    position: relative;
    overflow: hidden;
}
.portfolio-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--light-background-color);
    background-color: rgba(33, 150, 243, 0.9);
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover .portfolio-card-overlay,
.portfolio-card:focus .portfolio-card-overlay {
    transform: translateY(0%);
}
